.responsive-cpw {
  @media (max-width: 720px) {
    @apply flex-col gap-2;
  }
}
.refresh-icon {
    img {
        cursor: pointer;
    }

    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }
}