.framer-regular {
    @media (min-width: 768px) {
        @apply rounded-xl border-solid;
        width: 1100px;
        height: 700px;
        max-width: 100%;
        overflow: scroll;
        background-image: url("../../../asset/common/stacked-waves-haikei.svg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 768px) {
        @apply p-[16px] border-solid;
    }
}

.framer-small {
    @apply w-[400px] pt-[32px] pr-[40px] pb-[32px] pl-[40px] border-solid;
}

.grids {
    width: 600px;
    height: 400px;

    @media (min-width: 768px) {
        @apply flex flex-row;
    }
    @media (max-width: 768px) {
        @apply flex flex-col;
    }
    background: rgb(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    .col {
        @apply flex flex-col justify-center items-center;
        
        width: 50%;

        &.icon_placeholder {
            background: rgb(0, 0, 0, 0.2);
            svg {
                width: 220px;
            }
        }

        &.auth_placeholder {
            background: rgb(0, 0, 0, 0.5);
        }
    }
}