.inlined-component-centered {
    @apply flex justify-center items-center;
    @media (max-width: 720px) {
        @apply flex flex-col;
    }
}

.inlined-component {
    @apply flex items-center;
}

.inlined-between {
    @apply flex justify-between items-center;
}

.inlined-wrapped {
    @apply flex flex-wrap items-center;
    @media (max-width: 720px) {
        @apply flex flex-wrap;
    }
}

.framer-regular {
    @media (min-width: 768px) {
        @apply w-[600px] p-[80px] border-solid;
    }
    @media (max-width: 768px) {
        @apply p-[16px] border-solid;
    }
}

.framer-small {
    @apply w-[400px] pt-[32px] pr-[40px] pb-[32px] pl-[40px] border-solid;
}

.dfa-header {
    @apply bg-[#141415] border-solid;
    height: unset;
    padding: 14px 80px;
    max-height: none;
    @media (max-width: 720px) {
        padding: 14px 16px;
    }
}

.dfa-footer {
    @apply bg-[#141415] h-[72px] border-solid;
    padding: 20px 80px;
    max-height: none;
    @media (max-width: 720px) {
        @apply px-4 py-3 h-fit text-center text-xs;
        .inlined-between {
            @apply flex flex-col gap-2;
        }
    }
}

.dfa-text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#F49634] to-[#F4D37F] #{!important};
}

.dfa-btn-gradient {
    @apply h-10 bg-gradient-to-r from-[#F49634] to-[#F4D37F] #{!important};
    background-color: unset !important;
}

.dfa-btn-gradient-0 {
    @apply bg-gradient-to-r from-[#F49634] to-[#F4D37F] #{!important};
    background-color: unset !important;
}

.dfa-gradient-progress {
    .mantine-Progress-bar {
        background: linear-gradient(89.98deg, #F49634 0.03%, #F4D37F 100%);
    }
}

.dfa-avatar {
    @apply w-10 h-10;
}

.test {
    border-top: 1px solid red;
}

.dfa-dropdown {
    @apply bg-[#141415] border border-[#667085] rounded-lg p-0 w-[180px] #{!important};

    .mantine-Menu-item  {
        @apply rounded-none text-center;
        padding: 15px 0px;
    }
    .mantine-Menu-item:nth-last-child(-n +1) {
        // @apply border border-t-[#667085] #{!important};
        @apply text-red-500;
        border-top: 1px solid #667085;
    }
}

.dfa-border-color {
    @apply border-[#667085] border-solid;
}

// Mantine-UI Error Cloned
.global-input-error {
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
    -webkit-text-decoration: none;
    text-decoration: none;
    word-break: break-word;
    color: #e03131;
    font-size: 12px;
    line-height: 1.2;
    display: block;
}

// Mantine-UI Cloned Badge

.dfa-badge-default {
    @apply p-[1px] bg-white w-[153px] h-[34px] border-solid;

    overflow: unset;
    border: 32px;
    border-radius: 32px;
    .bg-div {
        @apply w-full h-full flex justify-center items-center;
    }
    .mantine-Badge-inner {
        @apply py-[5px] w-full h-full bg-dfa;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dfa-badge-configured {
    @apply p-[1px] bg-gradient-to-r from-[#F49634] to-[#F4D37F] w-[153px] h-[34px] border-solid;

    overflow: unset;
    border: 32px;
    border-radius: 32px;
    .bg-div {
        @apply w-full h-full flex flex-row justify-center items-center;
    }
    .mantine-Badge-inner {
        @apply py-[5px] w-full h-full bg-dfa;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dfa-app-shell {
    .mantine-AppShell-main {
        padding: 0;
    }
}

.dfa-password-input {
    .mantine-PasswordInput-visibilityToggle {
        @apply mr-[16px] text-dfa-grey;
    }
}

body {
    overflow: hidden;

    * {
        scrollbar-width: none;
        scrollbar-color: #f0bf67 rgba(0,0,0,0);
      }
    
      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 0.01vw;
        height: 0.5vh;
      }
    
      *::-webkit-scrollbar-track {
        background: rgba(0,0,0,0);
      }
    
      *::-webkit-scrollbar-thumb {
        background-color: #f0bf67;
        border-radius: 10px;
        border: 1px solid transparent;
      }
}